/* copied from mealtime.css on 2/8/2014 with jumbotron from add.css */

.jumbotron {
    background-image:url('http://farm3.staticflickr.com/2703/4079495203_713d43a3e6_o.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #a04307;
    color: #f4f6f8;
    margin-bottom: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    box-shadow: 0 0 8px #eee;
}

.thumbnail {
    height: 250px;
}

.thumbnail img {
    position: relative;
    height: 240px;
}

.content {
    margin-top: 100px;
}

.inset {
    text-shadow: 1px 1px 0 #222;
}

.time {
    display: inline;
}

.time small {
    color: white;
    padding-left: 10px;
}

.progress {
    border-radius: 0;
}

.progress-bar-step {
  background-color: #f5f5f5;
  border-right: 1px solid #cfcfcf;
}

.progress-bar-step-current {
    background-color: #66afe9;
    border-right: none;
}

.progress-bar-step-completed {
    background-color: #a3cff1;
    border-right: none;
}

.recipe-section-title {
    padding-left: 15px;
}

.panel {
    margin-bottom: 25px;
    border-radius: 0;
}

.panel-title small {
    padding-left: 10px;
    color: #333;
    font-size: 75%;
}

.panel-heading {
  border-bottom: 0;
}
/* experimenting with lighter border - looks thicker because of box shadow i think.
.panel-default {
     border-color: #f5f5f5;
}
*/

.sidebar ul {
    color: #777777;
    font-size: 13px;
    padding-left: 15px;
    line-height: 1.75;
}

.ingredient-category {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 15px;
}

/* Show and affix the side nav when space allows it; code sample taken from bootstrap.com */
@media (min-width: 992px) {
  .tools-ingredients .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .tools-ingredients.affix,
  .tools-ingredients.affix-bottom {
    width: 213px;
  }
  .tools-ingredients.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 72px;
  }
  .tools-ingredients.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .tools-ingredients.affix-bottom .bs-sidenav,
  .tools-ingredients.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .tools-ingredients.affix-bottom,
  .tools-ingredients.affix {
    width: 263px;
  }
}

/* IN PROGRESS adjusting active state of the timer controls button group 
.btn-group .btn:active,
.btn-group .btn.active {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
*/

/* link styling, specifically for the jumbotron */
a {
	color: #888;
}

a:visited {
    color: #aaa;
    font-style: underline;
}

a:hover {
	color: #ddd;
	text-shadow: 0 0;
}

/* timer div that fixes to the top of the page... */
.timer-row {
	font-size: 24px;
	color: #fff;
	background-color: #66afe9;
	padding: 10px 0 10px 0;
	border: none;
}

.timer-row-times-up {
	font-size: 24px;
	color: #fff;
	background-color: #953b39;
	padding: 10px 0 10px 0;
}

/* current step in the recipe */
.current {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.times-up {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

/* text styles for classes of content */
.ingredient {
	font-weight: bold;
	border-bottom: 1px dotted;
}

.technique {

}

.tool {
	font-style: italic;
	border-bottom: 1px dotted;
}

.bs-footer {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background-color: #e5e5e5;
}