/* copied from mealtime.css on 2/8/2014 with jumbotron from add.css */

.jumbotron {
    background-image:url('http://farm3.staticflickr.com/2703/4079495203_713d43a3e6_o.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #a04307;
    color: #f4f6f8;
    margin-bottom: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    box-shadow: 0 0 8px #eee;
}

.thumbnail {
    
}

.thumbnail img {
    height: 240px;
    position: relative;
}

.title-description {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 8);
    color: #f4f6f8;
    padding: 3px 10px 3px 10px;
    position: absolute;
}

.content {
    margin-top: 100px;
}

.inset {
    text-shadow: 1px 1px 0 #222;
}

.bs-footer {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background-color: #e5e5e5;
}